#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
nav {
  display: flex;
  gap: 15px;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-size: 40px;
  font-weight: bold;
}
img {
  width: 90%;
}

.post {
  display: grid;
  grid-template-columns: 0.9fr 1.5fr;
  gap: 20px;
  margin: 30px;
}

.post .texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

.post .texts .info {
  display: flex;
  flex-direction: column;
}

.post .texts .info a {
  text-decoration: none;
  color: inherit;
}

.texts .summary {
  font-size: 1rem;
}

.post .texts .info {
  font-size: 0.7rem;
  color: #888;
  font-weight: bold;
}
